**/.env
**/config.yml
**/secrets.toml
**/.secrets.toml
**/docker-compose.yml
**/docker-compose.yaml
uploads/
processed/

PROJECT_PLAN.md

venv/
.venv/

.DS_Store/
**/__pycache__/

nui/
nats/data/
/nats/data/
